// Importa Bootstrap desde node_modules
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";


.cardsec3{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-image: url(/src/img/8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}


.contenedor-rectangulos {
    position: relative; /* Asegura que el contenedor es relativo para posicionar la imagen */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.rectangulo {
    
    width: 100%;
    max-width: 375px;
    height: 300px;
    position: relative;
    text-align: center;
    margin: 10vh 1rem;
    box-sizing: border-box;
    background-color: rgb(23, 69, 108, 0.5);
    justify-content: center;
}

.circulo {
    background-image: url(/src/icon/checkcard.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2vh;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.textoCard{
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.cardTitulo{
    color: #fff;
    margin-top: 10%;
}