// Importa Bootstrap desde node_modules
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";


.cardsec3{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-image: url(/src/img/img-final/8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin-top: 1vh;
    
    
}


.contenedor-rectangulos {
    position: relative; /* Asegura que el contenedor es relativo para posicionar la imagen */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.rectangulo {
    
    width: 100%;
    max-width: 375px;
    height: 300px;
    position: relative;
    text-align: center;
    margin: 4vh 1rem;
    box-sizing: border-box;
    background-color: rgb(23, 69, 108, 0.5);
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.circulo {
    background-image: url(/src/icon/checkcard.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2vh;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.textoCard{
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    font-size: medium;
}

.cardTitulo{
    color: #fff;
    margin-top: 10%;
}


// No media query necessary for xs breakpoint as it's effectively `@media (max-width: 0) { ... }`
@include media-breakpoint-down(sm) { 
   

     .contenedor-rectangulos {
        position: relative; /* Asegura que el contenedor es relativo para posicionar la imagen */
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        
    }

    .rectangulo {
    
        width: 100%;
        max-width: 375px;
        height: 270px;
        position: relative;
        text-align: center;
        margin: 2vh;
        box-sizing: border-box;
        background-color: rgb(23, 69, 108, 0.5);
        justify-content: center;
    }
    .textoCard{
        color: #fff;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        margin-left: 1vh;
        margin-right: 1vh;
        font-size: medium !important;
    }
    
    .cardTitulo{
        color: #fff;
        margin-top: 12%;
    }

    .circulo {
        background-image: url(/src/icon/checkcard.png);
        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -3vh;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
    }


}
@include media-breakpoint-down(md) { 

    .cardsec3{
        width: 100%;
        height: 140vh !important;
        background-color: aqua;
        background-image: url(/src/img/img-final/8.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        margin-top: 1vh;
        
        
    }

    .contenedor-rectangulos {
        position: relative; /* Asegura que el contenedor es relativo para posicionar la imagen */
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        
    }

    .rectangulo {
    
        width: 100%;
        max-width: 375px;
        height: 250px;
        position: relative;
        text-align: center;
        margin: 2vh;
        box-sizing: border-box;
        background-color: rgb(23, 69, 108, 0.5);
        justify-content: center;
    }
    .textoCard{
        color: #fff;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
        font-size: medium;
    }
    
    .cardTitulo{
        color: #fff;
        margin-top: 12%;
    }

    .circulo {
        background-image: url(/src/icon/checkcard.png);
        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -3vh;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
    }

 }
@include media-breakpoint-down(lg) { 


    .cardsec3{
        width: 100%;
        height: 140vh !important;
        background-color: aqua;
        background-image: url(/src/img/img-final/8.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        margin-top: 1vh;
        
        
    }

    .contenedor-rectangulos {
        position: relative; /* Asegura que el contenedor es relativo para posicionar la imagen */
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        
    }

    .rectangulo {
    
        width: 100%;
        max-width: 375px;
        height: 300px;
        position: relative;
        text-align: center;
        margin: 2vh;
        box-sizing: border-box;
        background-color: rgb(23, 69, 108, 0.5);
        justify-content: center;
    }
    .textoCard{
        color: #fff;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        margin-top: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
        font-size: medium;
    }
    
    .cardTitulo{
        color: #fff;
        margin-top: 12%;
    }

    .circulo {
        background-image: url(/src/icon/checkcard.png);
        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -3vh;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
    }
 }
@include media-breakpoint-down(xl) { 

    .rectangulo {
    
        width: 100%;
        max-width: 375px;
        height: 320px;
        position: relative;
        text-align: center;
        margin: 2vh;
        box-sizing: border-box;
        background-color: rgb(23, 69, 108, 0.5);
        justify-content: center;
    }

    .textoCard{
        color: #fff;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        margin-top: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
        font-size: 1rem;
    }

 }
@include media-breakpoint-up(xxl) { 

    .textoCard{
        color: #fff;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        margin-top: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
        font-size: large;
    }

 }

