@import "../node_modules/bootstrap/scss/bootstrap";

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";


.sec6{
    height: 100vh;
    justify-content: center;
    align-content: center;
    margin-bottom: 5vh;
    background-image: url(/src/img/img-final/7.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: start;
    margin: auto;
}

.contact-form, .contact-map {
    padding: 20px;
    border-radius: 10px;
}

.contact-form {
    
}

.contact-map {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-map h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.contact-map iframe {
    width: 100%;
    height: 450px;
    border: none;
}

form h2 {
    margin-top: 0;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.bontonsub {
    width: 100%;
    padding: 20px;
    margin-top: 50px !important;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

botonsub:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    .sec6{
        height: 135vh;
    }
}




.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.mensaje-confirmacion {
    margin-top: 20px;
    padding: 15px;
    background-color: #dff0d8;
    border: 1px solid #c3e6cb;
    color: #155724;
    border-radius: 4px;
    font-size: 16px;
    display: none; /* Inicialmente oculto */
}
